.finance-table-container {
  position: relative;
  margin: 20px;
  margin-bottom: 80px; /* Add extra bottom margin to prevent footer overlap */
}

.finance-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .finance-table th,
  .finance-table td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  /* Make the header a bit distinct */
  .finance-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .checkbox-cell {
    text-align: center;
  }

  .top-right-buttons {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .top-right-buttons button {
    background-color: #007bff;
    margin-left: 10px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
  }

  .input-with-icons {
    position: relative;
    display: inline-block; /* or block */
  }
  
  .icons-container {
    position: absolute;
    top: 40px; /* or wherever you want them to appear */
    left: 0;
    display: flex;
    gap: 8px; /* space between icons */
  }
  
  .icons-container svg {
    cursor: pointer;
  }

  .bottom-buttons {
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;
    padding: 20px 0;
  }
  
  .bottom-buttons button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .bottom-buttons button:hover {
    background-color: #0056b3;
  }
  
  